body{
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.animacao{
    background-color: blue;
    width: 300px;
    height: 300px;
   /*  animation-name: minhaAnimacao;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
    animation: minhaAnimacao 5s infinite;
}

/* h1{
    animation: minhaAnimacao 5s infinite;
} */

@keyframes minhaAnimacao {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}