.linhaazul{
    background-color: blue;
    height: 50px;
}

.linhaverde{
    background-color: green;
    height: 50px;
}

.linhavermelha{
    background-color: red;
    height: 50px;
}

.coluna1{
    background-color: green;
    height: 50px;
}

.coluna2{
    background-color: red;
    height: 50px;
}

.linhapreta{
    background-color: black;
    height: 50px;
}

.colunaAzul{
    background-color: blue;
    height: 50px;
}

.colunaVerde{
    background-color: green;
    height: 50px;
}

.colunaVermelha{
    background-color: red;
    height: 50px;
}

.colunaPreta{
    background-color: black;
    height: 50px;
}