.bolaamarela{
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.bolaazul{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.caixaAzul{
    background-color: blue;
    width: 100px;
    height: 100px;
}

.alinhar{
    height: 50vh;
}