body{
    background-color: #f3f3f3;
    overflow: hidden;
}

#login-form{
    width: 100%;
    margin: 25vh auto;
}

#login-form form{
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}

#login-form .social-login{
    width: 390px;
    margin: 0 auto;
    margin-bottom: 14px;
}

#login-form .social-btn{
    font-weight: 100;
    color: white;
    width: 190px;
    font-size: 0.9rem;
}

#login-form a {
    display: block;
    padding-top: 10px;
    text-decoration: none;
}

#login-form button[type="submit"]{
    margin-top: 10px;
}